.color-card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5em;
}

.color-card-headline {
  display: inline;
  border-radius: 0.5em;
  padding: 0.5rem 0.5rem;
  background: black;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
