@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  padding: 1rem;
}

.title {
  font-family: "Pacifico", cursive;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0;
}
main {
  font-family: "Fira Code", monospace;
}

button {
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.2em;
}
